<div class="container">
  <table>
    <div class="card mb-3 text-white bg-dark">
      <tr>
        <th>team1</th>
        <th>team2</th>
        <th>sport</th>
        <th>Team1 OCC</th>
        <th>Team2 OCC</th>
        <th>Draw OCC</th>
        <th>Start time</th>
        <th>BET</th>
      </tr>
    </div>
    <div class="card mb-3 text-white bg-dark" *ngFor="let item of Matches">
      <tr>
        <td>{{item.team1}}</td>
        <td>{{item.team2}}</td>
        <td>{{item.sport}}</td>
        <td>{{item.t1WOcc}}</td>
        <td>{{item.t2WOcc}}</td>
        <td>{{item.drawOcc}}</td>
        <td>{{item.uid}}</td>
        <td>
          <button class="btn-warning" *ngIf="ThisUID(item.uid) == false" (click)="Bidding(item.uid)">bidding</button>
        </td>
      <tr *ngIf="ThisUID(item.uid) == true">
          <td><p>Fogadás összege:</p></td>
          <td>
            <input type="number" #value/>
          </td>
          <td><p>Meccs győztese:</p></td>
          <td>
            <select #winner>
              <option value="team1">{{item.team1}}</option>
              <option value="team2">{{item.team2}}</option>
              <option value="draw">Draw</option>
            </select>
          </td>
        <td>
          <button class="btn-warning" (click)="SendBet(value, winner)">Add Bet</button>
        </td>
      <td>
        <input type="button" (click)="showupdate(item)" class="btn-warning" data-toggle="modal" data-target="#exampleModal" value="Edit">
      </td>
      </tr>
    </div>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT MATCH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-edit">
          <p>Manage Match</p>
          <form>
            <div>
              <label>Team 1</label>
              <input type="text" value="{{this.editMatch.team1}}" [(ngModel)]="this.editMatch.team1" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
              <label>Team 2</label>
              <input type="text" value="{{this.editMatch.team2}}" [(ngModel)]="this.editMatch.team2" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
              <label>Sport</label>
              <input type="text" value="{{this.editMatch.sport}}" [(ngModel)]="this.editMatch.sport" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
              <label>StartDate</label>
              <input type="date" value="{{this.editMatch.endDate}}" [(ngModel)]="this.editMatch.endDate" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div>
              <tr>
                <td>Team 1 OCC</td>
                <td>Team 2 OCC</td>
                <td>Draw OCC</td>
              </tr>
              <tr>
                <td>
                  <input value="{{this.editMatch.t2WOcc}}" type="number" [(ngModel)]="this.editMatch.t1WOcc" [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                  <input value="{{this.editMatch.t2WOcc}}" type="number" [(ngModel)]="this.editMatch.t2WOcc" [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                  <input value="{{this.editMatch.drawOcc}}" type="number" [(ngModel)]="this.editMatch.drawOcc" [ngModelOptions]="{standalone: true}" />
                </td>
              </tr>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="destroy()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveupdate()">Save changes</button>
      </div>
    </div>
  </div>
</div>
