table {
  width: 100%;
}
td, th {
  padding: 20px 10px 20px 10px;
  text-align: center;
  width: 150px;
  max-width: 150px;
}
.modal-header {
  background: #297894;
}
.modal-body-edit {
  text-align: center;
  background: #297894;
}
.modal-body-edit input {
  width: 100px;
}

