<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login/Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add Match</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/matches">Browse Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bet">Show your bets</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
