<div class="hero">
  <form class="box">
    <h1>Register</h1>
    <input type="text" placeholder="Email" #email/>
    <input type="password" placeholder="Password" #pass/>
    <input type="password" placeholder="Password again" #passagain/>
    <input type="button" value="register" (click)="Register(email, pass, passagain)"/>
  </form>
</div>
