<div class="card">
<img class="card-img-overlay picture" src="assets/img/login/loginpic1.png">
</div>
<form class="box">
  <h1>Login</h1>
  <input type="text" placeholder="Username" #name/>
  <input type="password" placeholder="Password" #pass/>
  <input type="button" value="Login" (click)="login(name, pass)" />
  <p class="">
    <span>Don't have account? </span> <a routerLink="/register" class="register">Register</a>
  </p>
</form>
