* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.filter {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .7;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(32,102,180,0.5942752100840336) 100%);
}
table {
  position: absolute;
  z-index: 2;
  top: 10%;
  transform: translate(30%, 50%);
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32,32,32,.3);
  background: #139b3d;
  text-align: center;
}
th, td {
  padding: 12px 15px;
}
th {
  background: #067031;
  color: Black;
  text-transform: uppercase;
}
tr:nth-child(odd) {
  background-color: #21c85c;
}
