<div class="container">
  <div class="filter">

  </div>

  <table>
    <thead>
    <tr>
      <th>Team1</th>
      <th>Team2</th>
      <th>Sport</th>
      <th>OCC</th>
      <th>Expected Prize</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Bets">
      <td>{{item.match.team1}}</td>
      <td>{{item.match.team2}}</td>
      <td>{{item.match.sport}}</td>
      <td>{{item.occ}}</td>
      <td>{{item.expectedPrize}}</td>
    </tr>
    </tbody>
  </table>
</div>
