<div>
  <img src="assets/img/addmatch1.png">
</div>
<div class="box">
  <h1>Add new Match</h1>
  <form>
    <div>
      <label>Team 1</label>
      <input type="text" [(ngModel)]="this.newMatch.team1" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
      <label>Team 2</label>
      <input type="text" [(ngModel)]="this.newMatch.team2" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
      <label>Sport</label>
      <input type="text" [(ngModel)]="this.newMatch.sport" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
      <label>StartDate</label>
      <input type="date" [(ngModel)]="this.newMatch.endDate" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
      <tr>
        <td>Team 1 OCC</td>
        <td>Team 2 OCC</td>
        <td>Draw OCC</td>
      </tr>
      <tr>
        <td>
          <input type="number" [(ngModel)]="this.newMatch.t1WOcc" [ngModelOptions]="{standalone: true}">
        </td>
        <td>
          <input type="number" [(ngModel)]="this.newMatch.t2WOcc" [ngModelOptions]="{standalone: true}">
        </td>
        <td>
          <input type="number" [(ngModel)]="this.newMatch.drawOcc" [ngModelOptions]="{standalone: true}">
        </td>
      </tr>
    </div>
    <input type="button" value="ADD" (click)="addmatch()"/>
  </form>
</div>
