.img-box {

}
.box{
  width: 600px;
  height: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2e4053;
  text-align: center;
  opacity: 96%;
}
.box h1 {
  padding: 20px;
  color: orange;
}
.box label {
  font-weight: bolder;
  color: orange;
}
.box  input[type = "text"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4981a7;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  height: 40px;
}
.box input[type="text"]:focus {
  border-color: #2eec71;
}
.box input[type="button"]{
  background: #0b5f0e;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0b5f0e;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type="button"]:hover{
  background: #2eec71;
}
.box input[type="number"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4981a7;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  height: 40px;
}
.box input[type="number"]:focus{
  border-color: #2eec71;
}
.box input[type="date"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4981a7;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  height: 40px;
}
.box tr {
  text-align: center;
  padding-left: 100px;
}
.box td {
  color: orange;
  width: 150px;
  padding-left: 25px;
  padding-right: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
